In [3]:
import pandas as pd

In [4]:
df_a = pd.DataFrame({'key': ['a','b','c','d','e'],'num_a': [1,2,3,4,5]})
df_b = pd.DataFrame({'key': ['a','b','d','f','g'],'num_b': [11,15,35,45,55]})
df_c = pd.DataFrame({'key': ['f','g','h','i','g'],'num_a': [6,7,8,9,0]})

In [ ]:
print(pd.concat([df_a, df_b, df_c]))

In [ ]:
print(df_a.merge(df_b, how = 'outer'))
print(df_b.merge(df_a, how = 'outer'))
print(df_a.merge(df_c, how = 'outer'))

In [18]:
df_d = pd.DataFrame({'key': ['a','b','c','d','e'],'id': ['q','w','e','r','t'],'num_a': [1,2,3,4,5]})
df_e = pd.DataFrame({'key': ['a','b','d','f','g'],'id': ['r','t','z','x','y'],'num_b': [11,15,35,45,55]})

In [ ]:
print(df_d.merge(df_e, on = 'id'))
print(df_d.merge(df_e, on = 'id', how = 'left'))

In [23]:
df_f = pd.DataFrame({'key': ['a','b','c','d','e'],'num_a': [1,2,3,4,5]})
df_g = pd.DataFrame({'id': ['a','b','d','f','g'],'num_b': [11,15,35,45,55]})

In [ ]:
df_f.merge(df_g, left_on = 'key', right_on = 'id', how = 'outer')

In [26]:
df_h = pd.DataFrame({'key': ['a','b','c','d','e'],'num_a': [1,2,3,4,5]})
df_i = pd.DataFrame({'key': ['a','b','d','f','g'],'num_b': [11,15,35,45,55]})

In [27]:
df_h = df_h.set_index('key')
df_i = df_i.set_index('key')

In [ ]:
df_h.join(df_i, lsuffix = '_a', rsuffix = '_b')
df_h.join(df_i, how = 'outer')
df_h.join(df_i, how = 'inner')

In [33]:
data = {
    'Country': ['USA', 'Canada', 'Germany', 'USA', 'Germany', 'Canada', 'USA', 'Germany', 'Canada', 'USA'],
    'Purchased': ['Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No'],
    'Age': [22, 25, 30, 28, 35, 40, 45, 28, 25, 38]
}

In [35]:
df = pd.DataFrame(data)
df

   Country Purchased  Age
0      USA       Yes   22
1   Canada        No   25
2  Germany        No   30
3      USA       Yes   28
4  Germany       Yes   35
5   Canada        No   40
6      USA        No   45
7  Germany       Yes   28
8   Canada       Yes   25
9      USA        No   38